/* ©Bluekat 2015 */
* { box-sizing: border-box; }

body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.6;
	color: #607D8B;
	background: #eceff1;
}

.container {

}

.homeSplash {
	text-align: center;
	
}
 .logoStyles {
	 width: 120px;
 }
 
.headerLogo {
	height: 193px;
	width: 203px;
/* 	background: orange; */
	background-image: url('../img/logo.png');
    background-repeat:no-repeat;
    background-size:contain;
	margin: 0 auto;
}

p {
	font-size: .95em;
	margin-bottom: 1.8em;
}

h2, h3, a {
	color: #fff;
}

.col1 ,  .col2 , .col3 , .col4 , .col2x2 , .col3x3 {
/* 	border: 1px solid  */
}

footer {
	position: fixed;
	border: 0px;
	color: #ffffff;
	text-align: center;
	width: 100%;
	padding: 10px 0;
	position: absolute;
    bottom: 0;
}

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}

/* test Styles */
/******************************************/

.red { background: red; }
.blue { background: blue; }
.green { background: green; }
.purple { background: #ff9eff; }
.gold { background: #dbba00; }
.grey { background: grey; }

.white { background: #ffffff; }
.grey1 { background: #eceff1; }
.grey2 { background: #cfd8dc; }
.grey3 { background: #b0bec5; }
.grey5 { background: #90a4ae; }

/* iPad/tablet */
@media (min-width: 768px) {
 .logoStyles {
	 width: 80px;
 }
.headerLogo {
	height: 80px;
	width: 420px;
/* 	background: orange; */
	background-image: url('../img/logo-horizontal.png');
    background-repeat:no-repeat;
    background-size:contain;
	margin: 0 auto;
}	
}

/* iPad/tablet */
@media (min-width: 1024px) {

	
}