/* ©Bluekat 2015 */
* { box-sizing: border-box; }

body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.6;
	color: #fff;
	background: #afafaf;
}

.container {
	background: #fff;
}

.homeSplash {
	text-align: center;
	
}
 .logoStyles {
	 width: 120px;
 }
p {
	font-size: .95em;
	margin-bottom: 1.8em;
}

h2, h3, a {
	color: #fff;
}

footer {
	position: fixed;
	border: 0px;
	background: #f2f2f2;
	color: #0000ff;
	text-align: center;
	width: 100%;
	padding: 10px 0;
	position: absolute;
    bottom: 0;
}

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}

/* test Styles */
/******************************************/

.red { background: red; }
.blue { background: blue; }
.green { background: green; }
.purple { background: #ff9eff; }
.gold { background: #dbba00; }
.grey { background: grey; }

/* iPad/tablet */
@media (min-width: 768px) {
 .logoStyles {
	 width: 80px;
 }
	
}

/* iPad/tablet */
@media (min-width: 1024px) {

	
}